<h1 class="mt-5"><%= @h1 %></h1>
<p class="mb-5 "><strong>Hi, <%= current_user.name %>.</strong></p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Update
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Today's Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <%= simple_form_for :update, method: :post, url: { action: "create" } do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :tag_ids, as: :select, collection: Tag.order(:category), label_method: :category, input_html: {multiple: true} %>
            <%= f.input :new_tag, required: false %>
        </div>
      <div class="modal-footer">
          <%= f.submit "Submit", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <% @updates.each_with_index do |update, i| %>
    <div class="update-box d-flex align-items-end flex-column mb-4">
      <% if i == 0 || @updates[i - 1].created_at.to_date.to_fs(:long_ordinal) != update.created_at.to_date.to_fs(:long_ordinal) %>
        <p class="go-left mb-1"><%= update.created_at.to_date.to_fs(:long_ordinal) %></p>
      <% end %>
      <div class="d-flex justify-content-around info mb-1">
        <p><strong><%= update.user.name %>:</strong></p>
        <p><%= update.title %></p>
        <p><%= link_to "View Update", update_path(update) %></p>
      </div>
      <div class="tags mt-2">
        <p><%= raw update.tags.map(&:category).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      </div>
    </div>
  <% end %>
</div>
